{% extends 'base.html' %}
{% block content %}
  <div class="grid-x">
  {% for blog in blogs %}
    <div class="cell">
      <div class="media-object">
        <div class="media-object-section">
          <h4><a href="{{blog.get_absolute_url}}">{{blog.title|capfirst}}</a></h4>
          <p>{{blog.body|truncatechars:'140'}}</p>
          <a href="{{blog.get_absolute_url}}">Үргэлжлэл...</a>
        </div>
      </div>
    </div>
  {% endfor %}
  <nav aria-label="Pagination">
    <ul class="pagination">
      {% if blogs.has_previous %}
      <li class="pagination-next"><a href="?page={{ blogs.previous_page_number }}" aria-label="Next page">Ѳмнѳх</a></li>
      {% endif %}
      {% if blogs.has_next %}
      <li class="pagination-next"><a href="?page={{ blogs.next_page_number }}" aria-label="Next page">Дараах</a></li>
      {% endif %}
    </ul>
  </nav>
  </div>
{% endblock content %}
